@charset "utf-8";

/* =============
    Layout
================ */

.l-description {
  width: 90%;
  margin: 0 auto;
}

.l-articleList {
  padding: 30px 0 50px;
}

.l-moreBtn {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

/* =============
    Project
================ */

/* 説明 */
.p-description {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

.p-description__item {
  padding: 30px 0;
  margin: 0 auto;
  background: #f6f4ec;
}

/* グリッドの指定 */
.p-articleList {
  justify-content: center;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

/* pc用グリッドの幅指定 */
@media (min-width: 1025px) {
  .p-articleList {
    /* width: 80%; */
    width: 1000px;
  }
}

/* 一つの記事 */
.p-article {
  width: 280px;
  height: 320px;
  margin: 0 auto;
  box-shadow: 0 0 3px #707070;
}

/* 額縁のクラス */
.p-imgArea {
  position: relative;
  width: 280px;
  height: 200px;
}

/* 額縁の下全体 */
.p-textArea {
  height: 120px;
  background: #efebe8;
}

/* いいねとタグ */
.p-textContent {
  padding: 16px 15px;
  justify-content: space-between;
}

/* 記事タグリスト */
.p-singleTagList__ul {
  margin: 0 auto;
  padding: 5px 0;
  justify-content: center;
}

/* タグ名 */
.p-singleTagList__ul li {
  position: relative;
  padding: 5px 10px 5px 18px;
  letter-spacing: 1px;
  font-size: 1.8rem;
  text-align: center;
}

.p-singleTagList__ul li::before {
  content: "\f292";
  position: absolute;
  left: 2px;
  top: 45%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  color: #cf7e7c;
  font-size: 1.4rem;
  font-weight: 900;
}

/* =============
    Compornent
================ */

/* メインビジュアル */
/* .c-heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.c-heroImg {
  width: 90%;
  margin: 0 auto;
}

.c-heroImg img {
  width: 100%;
}

/* 説明 */
.c-description__text {
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* h3見出し */
.c-subHeading {
  width: 90%;
  display: inline-block;
  font-size: 2.4rem;
  border: dashed 3px #cf7e7c;
  padding: 1.3rem 1.5rem;
}

@media (min-width: 1025px) {
  .c-subHeading {
    width: 80%;
  }
}

/* 額縁の画像 */
.c-frame {
  width: 280px;
  height: 200px;
}

/* サムネイル画像 */
.wp-post-image {
  width: 240px;
  height: 160px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 54%;
  left: 50%;
}

/* スポット名称 */
/* .c-title {
  font-size: 1.8rem;
  font-family: "mamelon5";
  letter-spacing: 1px;
} */

.c-title {
  padding: 0 15px 16px;
  font-size: 1.8rem;
  font-family: ‘mamelon5’;
  letter-spacing: 1px;
}

/*  moreボタン
-------------------------------- */

/* button.c-moreBtn {
  width: 180px;
  padding: 7px;
  border-radius: 30px;
  background: #cf7e7c;
  color: #ffffff;
  font-family: "mamelon5";
  font-size: 2.6rem;
  letter-spacing: 1px;
  border: none;
  outline: none;
  cursor: pointer;
} */

button.c-btn {
  width: 180px;
  padding: 7px;
  border-radius: 30px;
  color: #ffffff;
  background-color: #cf7e7c;
  font-family: ‘mamelon5’;
  font-size: 2.6rem;
  letter-spacing: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* それぞれのmoreボタンを効かすためのもの */
.c-more1,
.c-more2,
.c-more3 {
  overflow: hidden;
  transition: all 0.4s ease 0s;
}

.c-more1.is-hidden,
.c-more2.is-hidden,
.c-more3.is-hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0 10px;
  padding: 0;
}

/* -------------------------------- */

/* =============
    Utility
================ */

/* グリッドレイアウト */
.u-grid {
  display: grid;
}

/* flex-box指定 */
.u-flex {
  display: flex;
}

/* right */
.u-right {
  text-align: right;
}

/* margin */
.u-mr15 {
  margin-right: 15px;
}

/* 地域別カラー */
.u-south {
  background: #991f26;
}

.u-city {
  background: #d1a429;
}

.u-west {
  background: #004e3f;
}

.u-east {
  background: #539199;
}
