@charset "utf-8";

@font-face {
  font-family: "mamelon3.5";
  src: url("../fonts/mamelon-fonts3.5.woff") format("woff");
}
@font-face {
  font-family: "mamelon5";
  src: url("../fonts/mamelon-fonts5.woff") format("woff");
}

/* font-size指定 */
html {
  font-size: 62.5%;
}

/* 画像の下の余白を削除 */
img {
  vertical-align: bottom;
}

body {
  /* サイト全体のコンテンツ領域指定 */
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  color: #333333;
  /* フォント指定 */
  font-family: "mamelon3.5";
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  /* 768px以上に適用されるCSS（タブレット・PC用） */
  body {
    /* フォント指定 */
    font-family: "mamelon3.5";
    font-size: 2.4rem;
  }
}

main {
  padding-top: 70px;
}
@media (min-width: 1025px) {
  main {
    padding-top: 100px;
  }
}

/* ここからヘッダー */
.p-header__contentsList ul div {
  font-size: 13px;
}
.p-header__contentsList a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.l-header {
  position: relative;
}

.p-header__nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.c-header__navListDetail {
  padding-top: 1rem;
}

.p-header__navList {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.c-header__nav {
  /* width: 115px; */
  width: 90px;
  padding: 10px 0;
  font-size: 1.6rem;
}

.c-header__nav:hover {
  cursor: pointer;
  font-weight: bold;
}

.c-elevatorBtn:hover {
  cursor: pointer;
}

.p-header__contents {
  position: fixed;
  z-index: 3;
  left: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-header__contentsList {
  height: 100%;
}

.p-header__contentsList ul {
  display: flex;
  height: 100%;
  padding: 10px 20px 0 0;
}

.p-header__contentsList li {
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .p-header__contentsList ul {
    padding-right: 10px;
  }
  .p-header__contentsList li {
    padding-right: 6px;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__contents {
    height: 100px;
  }
  .p-header__contentsList ul div {
    font-size: 16px;
  }
  .p-header__contentsList ul {
    padding: 20px 20px 0 0;
  }
}

/* ここからエレベーター用 */

.p-main__liftGroup__parts {
  position: fixed;
  height: 100vh;
  width: 100px;
  top: 100px;
  right: 0px;
  z-index: 1;
  text-align: center;
}

.c-main__liftBodyImg {
  position: absolute;
  top: 33px;
}

.lift6 {
  top: 0px;
}

.lift6::before {
  content: "特設会場";
  background-color: #cf7e7c;
  display: inline-block;
  width: 100%;
  height: 26px;
  /* padding-top: 6px; */
  text-align: center;
  color: #000000;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 26px;
}

.lift5 {
  top: 15vh;
}

.lift5::before {
  content: "県東部";
  background-color: #cf7e7c;
  display: inline-block;
  width: 100%;
  height: 26px;
  /* padding-top: 6px; */
  text-align: center;
  color: #000000;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 26px;
}

.lift4 {
  top: 27vh;
}

.lift4::before {
  content: "県西部";
  background-color: #cf7e7c;
  display: inline-block;
  width: 100%;
  height: 26px;
  /* padding-top: 6px; */
  text-align: center;
  color: #000000;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 26px;
}

.lift3 {
  top: 39vh;
}

.lift3::before {
  content: "徳島市";
  background-color: #cf7e7c;
  display: inline-block;
  width: 100%;
  height: 26px;
  /* padding-top: 6px; */
  text-align: center;
  color: #000000;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 26px;
}

.lift2 {
  top: 49vh;
}

.lift2::before {
  content: "県南部";
  background-color: #cf7e7c;
  display: inline-block;
  width: 100%;
  height: 26px;
  /* padding-top: 6px; */
  text-align: center;
  color: #000000;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 26px;
}

.lift1 {
  top: 58vh;
}

.lift1::before {
  content: "ご案内";
  background-color: #cf7e7c;
  display: inline-block;
  width: 100%;
  height: 26px;
  /* padding-top: 6px; */
  text-align: center;
  color: #000000;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 26px;
}

.p-instaArea {
  position: relative;
  z-index: 2;
  height: 270px;
  background: #eae4ad;
  background-image: url(../images/line_footer_lace.png),
    url(../images/line_footer_lace.png);

  background-repeat: repeat-x, repeat-x;

  background-position: left top, right bottom;
}
@media (min-width: 1025px) {
  .p-instaArea {
    height: 200px;
  }
}
