@charset "utf-8";

.c-main__liftLineImg {
  height: 100vh;
}

/* ロープウェイ */
/* 切り替え */
.p-main__liftGroup__parts {
  display: none;
}

@media (min-width: 1025px) {
  .p-main__liftGroup__parts {
    display: block;
  }

  .c-ropeway {
    width: 70%;
  }
}

/* キャッチコピー */
.c-catchCopy {
  width: 15vw;
  position: absolute;
  left: 5%;
  /* top: 15%; */
  top: 90px;
  min-width: 60px;
  z-index: 2;
}

@media (min-width: 1025px) {
.c-catchCopy {
  top: 120px;
  }
}


/* ヘッダー分の高さ確保 */
.l-main {
  padding-top: 70px;
}

@media (min-width: 1025px) {
  .l-main {
    padding-top: 100px;
  }
}

/* 新着情報ここから*/

.p-newsArea {
  position: relative;
  z-index: 2;
  display: table;
  width: 70%;
  /* 変更 */
  margin: 20px 15% 40px 15%;
}
.c-newsArea {
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(0, 0, 0);
  border: 8px solid;
  border-color: rgb(145, 145, 145);
  padding: 2% 0;
  border-radius: 5px;
}

.mtphr-dnt-wrapper {
  height: 30px;
  text-align: center;
  display: inline-block;
}
.mtphr-dnt-tick {
  display: inline-block;
}

.mtphr-dnt-tick-contents {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 30px;
}

/* .mtphr-dnt-default-tick  a {
  color: rgb(255, 123, 0);
} */
.mtphr-dnt-default-tick  a {
  color: #ffffff;
}

@media (min-width: 768px) {
  .mtphr-dnt-tick-contents {
    font-size: 1.8rem;
  }
}

.p-floorBlock1 {
  width: 80%;
  margin: 0 auto;
}

/* トップ各階リンク */
.p-floorLink a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* １階ご案内のリンク */
.p-tokushimaLink {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

/* 『このサイトの使い方』 */
.p-floorBlock_info {
  padding: 4% 10%;
  position: relative;
}

.c-guideTitle {
  font-size: 1.4rem;
  padding-bottom: 10px;
  font-family: "mamelon5";
    text-shadow:
      1px  1px 0px #ffffff,
      -1px  1px 0px #ffffff,
       1px -1px 0px #ffffff,
      -1px -1px 0px #ffffff,
       1px  0px 0px #ffffff,
       0px  1px 0px #ffffff,
      -1px  0px 0px #ffffff,
       0px -1px 0px #ffffff;
}

.c-tokushimaLink {
  width: 30%;
  border: #2d294f solid 2px;
}

@media (min-width: 910px) {
  .c-guideTitle {
    font-size: 1.8rem;
  }

  .c-tokushimaLink > a {
    font-size: 2.2rem;
  }
}

.c-floor__text li{
  font-size: 1.2rem;
  color: black;
  text-align: left;
}

.c-floor__text span {
  display: inline-block;
  color: rgb(202, 57, 54);
  font-family: "mamelon5";
  text-shadow:
       1px  1px 0px #ffffff,
      -1px  1px 0px #ffffff,
       1px -1px 0px #ffffff,
      -1px -1px 0px #ffffff,
       1px  0px 0px #ffffff,
       0px  1px 0px #ffffff,
      -1px  0px 0px #ffffff,
       0px -1px 0px #ffffff;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .c-floor__text li{
    font-size: 1.4rem;
  }
  .c-floor__text span {
    font-size: 1.6rem;
  }
}

.l-department {
  background-image: url(../images/mv_front_web.png);
  background-size: cover;
  background-position: center center;
  margin-top: 4%;
}

.p-floorImg > img + img {
  padding-left: 2%;
}

/* 各階のイラストの大きさ */
.c-satomusume,
.c-beer,
.c-soba,
.c-tutuji,
.c-yakimoti,
.c-sirasagi,
.c-turtle,
.c-surfing {
  height: 10vh;
}

/* 各階のマップの大きさ */
.c-floorMapHigasi,
.c-floorMapNisi,
.c-floorMapTokusimacity,
.c-floorMapMinami {
  height: 8vh;
}

/* 特設会場のイラスト二つ */
.c-specialEvent {
  width: 20vw;
}

@media (min-width: 768px) {
  .c-specialEvent {
    width: 13vw;
  }
}

.p-floorBlock6 {
  width: 60vw;
  margin: 0 auto;
}

.u-specialName {
  font-size: 1.2rem;
  /* 文字の影 */
  text-shadow: 2px 2px 1px #ffffff, -2px 2px 1px #ffffff, 2px -2px 1px #ffffff,
    -2px -2px 1px #ffffff, 2px 0px 1px #ffffff, 0px 2px 1px #ffffff,
    -2px 0px 1px #ffffff, 0px -2px 1px #ffffff;
}

@media (min-width: 768px) {
  .u-specialName {
    font-size: 2rem;
  }
}

/* 特設会場のイラストのリンク */
.c-specialLink {
  display: inline-block;
  height: 80%;
  color:#2d294f;
}

.c-specialLink:hover {
  transform: scale(1.1);
  color: #cf7e7c;
}

/* 都市伝説の階のリンク */
.c-horrorLink {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* 6階部分 */
#js_6f {
  display: flex;
  text-align: center;

}

/* 5階部分 */
#js_5f {
  text-align: center;
  padding: 2% 0%;
}


/* 4階部分 */
#js_4f {
  text-align: center;
  padding: 2% 0%;
}


/* 3階部分 */
#js_3f {
  text-align: center;
  padding: 2% 0%;
}


/* 2階部分 */
#js_2f {
  text-align: center;
  margin: 0 auto 4% auto;
  padding: 2% 0%;
}


#js_1f {
  width: 80%;
  max-width: 600px;
  text-align: center;
  background-color: #eae4ad;
  font-size: 1.6rem;
  border-radius: 15px;
  position: relative;
}


/* 都市伝説の階 */
#page-link {
  padding: 20px;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {


  #js_1f {
    width: 60%;
    max-width: 600px;
    text-align: center;
    background-color: #eae4ad;
    font-size: 1.6rem;
    border-radius: 15px;
  }

  .c-satomusume,
  .c-beer,
  .c-soba,
  .c-tutuji,
  .c-yakimoti,
  .c-sirasagi,
  .c-turtle,
  .c-surfing {
    height: 18vh;
  }

  .c-floorMapHigasi,
  .c-floorMapNisi,
  .c-floorMapTokusimacity,
  .c-floorMapMinami {
    height: 15vh;
  }
}

@media (min-width: 1025px) {
  #js_1f {
    width: 60%;
    max-width: 600px;
  }

  .c-satomusume,
  .c-beer,
  .c-soba,
  .c-tutuji,
  .c-yakimoti,
  .c-sirasagi,
  .c-turtle,
  .c-surfing {
    height: 20vh;
  }

  .c-floorMapHigasi,
  .c-floorMapNisi,
  .c-floorMapTokusimacity,
  .c-floorMapMinami {
    height: 17vh;
  }
}

/* 2～5階のホバーで背景色がつく */
.p-departmentFloor:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.3);
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.6);
}

/* ご案内の阿波踊りアニメ */
.c-awaodori,
.c-fukidashi {
  display: none;
}

@media (min-width: 768px) {
  .c-awaodori {
    height: auto;
    width: 18%;
    min-width: 100px;
    position: absolute;
    top: 90%;
    transform: translate(0, -90%);
    left: -10%;
    display: block;
  }

  .c-fukidashi {
    height: auto;
    width: 30%;
    min-width: 100px;
    position: absolute;
    top: -5%;
    transform: translate(-30%, -15%);
    left: -20%;
    display: block;
  }
}

/* @media (min-width: 768px) {
  .c-awaodori {
    height: auto;
    width: 18%;
    min-width: 100px;
    position: absolute;
    top: 90%;
    transform: translate(0, -100%);
    left: 0;
    display: block;
  }

  .c-fukidashi {
    height: auto;
    width: 22%;
    min-width: 100px;
    position: absolute;
    top: 10%;
    transform: translate(0, 0);
    left: -15%;
    display: block;
  }
} */

.p-floorBlock {
  text-align: center;
}

.p-floorHorror {
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  background-image: url(../images/img_front_horrorBn.png);
  background-size: cover;
}

/* インスタ一式ここから */
.p-insta {
  position: relative;
  z-index: 2;
  padding: 0 15% 20px 15%;
  text-align: center;
}

.p-insta h2 {
  margin-bottom: 0;
  width: 200px;
}

.p-instaPhotos {
  display: flex;
  flex-wrap: wrap;
}

.p-instaPhotos li {
  position: relative;
  width: calc(100% / 3);
}

.p-instaPhotos li::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.c-instaPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .p-instaPhotos li {
    width: calc(100% / 6);
  }
}

#sb_instagram #sbi_load .sbi_load_btn, #sb_instagram .sbi_follow_btn a{
  margin: 0;
}

.p-special {
  justify-content: space-around;
  padding: 2% 10% 0 10%;
  font-size: 1.4rem;
}

.p-specialLink {
  width: 40%;
}

.p-guideArea {
  font-size: 1.4rem;
  line-height: 1.2;
}

.u-bg2d294f {
  background-color: #2d294f;
}

/* フロア見出し */
.c-floorName {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  padding: 5px 0px;
  border-radius: 25px;
  opacity: 1;
  background-color: white;
  margin-bottom: 2vw;
  color: #2d294f;
  width: 150px;
  border: #2d294f 1px solid;
}

.c-floorNameBasement {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 5px 0px;
  border-radius: 25px;
}

.c-floorNameBasementP {
  font-size: 1.4rem;
  color: white;
}

@media (min-width: 768px) {
  .c-floorName {
    font-size: 2.4rem;
    width: 200px;
  }

  .c-floorNameBasement {
    font-size: 2.4rem;
    display: inline-block;
    text-align: center;
    width: 200px;
    padding: 5px 0px;
    border-radius: 25px;
  }

  .c-floorNameBasementP {
    font-size: 1.6rem;
  }
}

/* ご案内見出しの隠し領域 */
span[id="front_info"] {
  display: block;
  content: "";
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb2p {
  margin: 0 auto 2% auto;
}

.u-mb4p {
  margin: 0 auto 4% auto;
}

.u-flex {
  display: flex;
}

.u-m0A {
  margin: 0 auto;
}

.u-white {
  color: #fff;
}

.u-bgEAE4AD {
  background-color: #eae4ad;
}
