/* =============
    Layout
================ */

.l-department {
    position: relative;
}

/* =============
    Project
================ */

.p-departmentFloor {
    position: relative;
}

/* エレベーターがあるエリア */
.p-elevatorArea {
    position: relative;
    width: 100%;
    background: url(../images/mv_front_tablet.jpg) no-repeat center top;
    z-index: 0;
}
@media (min-width:768px) {
    .p-elevatorArea {
        background-image: url(../images/mv_front_web.jpg);
        background-size: cover;
    }
}
/* 疑似要素を使ってフィルターをかける */
.p-elevatorArea::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(80%)saturate(80%);
    z-index: -1;
}

/* フロア */
.p-floorBlock {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 15px 0;
}
@media (min-width:1025px) {
    .p-floorBlock {
        padding: 20px 0;
}
}

/* 6F用 */
.p-special {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
    align-items: flex-end;
}
@media (min-width:400px) {
    .p-special {
        justify-content: space-around;
        width: 90%;
    }
}
@media (min-width:768px) {
    .p-special {
        width: 80%;
        height: 480px;
    }
}

.p-specialLink {
    justify-content: center;
    flex-direction: column-reverse;
}


/* リンクエリア */
.p-floorLink {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
}
@media (min-width:768px) {
    .p-floorLink {
        padding: 15px 0;
        height: 330px;
    }
}

/* スポット画像用 */
.p-floorImg {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
}
@media (min-width:768px) {
    .p-floorImg {
        width: 550px;
        height: 100%;
    }
}
@media (min-width:1025px) {
    .p-floorImg {
        width: 650px;
        height: 100%;
    }
}


/* ご案内 */
.p-guideArea {
    width: 80%;
    margin: 0 auto;
    padding: 15px 30px;
    background: rgba(234, 228, 173, 0.8);
    border-radius: 40px;
    border: 1px solid #2d294f;
    text-align: center;
}

/* 徳島リンク */
.p-tokushimaLink {
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
    text-align: left;
}
@media (min-width:400px) {
    .p-tokushimaLink {
        width: 250px;
    }
}


/* トップへどうぞ */
.p-topIcon {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
}
@media (min-width:768px) {
    .p-topIcon {
        padding: 10px 0;
    }
}

/* 新着情報エリア */
.p-newsArea {
    position: relative;
    height: 70px;
    background: #f0f0f0;
    z-index: 2;
}

/* insta用 */
.p-instaArea {
    position: relative;
    z-index: 2;
    height: 270px;
    background: #eae4ad;
    background-image:url(../images/line_footer_lace.png),
	url(../images/line_footer_lace.png);

	background-repeat:repeat-x,
					repeat-x;

	background-position:left top,
						right bottom;
}
@media (min-width:1025px) {
    .p-instaArea {
        height: 200px;
    }
}

/* =============
    Compornent
================ */

/* 6Fリンク */
a.c-specialLink {
    display: block;
    width: 120px;
}
@media (min-width:768px) {
    a.c-specialLink {
        width: 240px;
    }
}

/* バルーン */
.c-baloonGif {
    height: 200px;
}
@media (min-width:768px) {
    .c-baloonGif {
        height: 400px;
    }
}

/* テキスト */
.c-floor__text {
    padding: 5px 0;
    font-size: 1.4rem;
    line-height: 1.5;
}
@media (min-width:768px) {
    .c-floor__text {
        padding: 10px 0;
        font-size: 1.8rem;
    }
}

/* キャッチコピー */
/* 768px以下は非表示 */
.c-catchCopy {
    display: none;
}
@media (min-width:768px) {
.c-catchCopy {
    display: block;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
}
@media (min-width:1025px) {
    .c-catchCopy {
    width: 250px;
}
}

/* フロア名 */
.c-floorName {
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px 15px;
    background: #e2e0ef;
    border: 1px solid #2d294f;
    border-radius: 120px;
    color: #2d294f;
}
@media (min-width:768px) {
    .c-floorName {
        width: 300px;
}
}
/* 矢印つける */
.c-floorName::before {
    content: "\f0da";
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    color: inherit;
    font-size: 1.4rem;
}



/* 階数 */
.c-floorNumber {
    padding-right: 15px;
    font-size: 18px;
    letter-spacing: 1px;
}
@media (min-width:768px) {
    .c-floorNumber {
        padding-right: 25px;
        font-size: 24px;
    }
}

/* スポット画像 */
.c-floorSpot {
    width: 150px;
    height: 100px;
}
@media (min-width:768px) {
    .c-floorSpot {
        width: 360px;
        height: 240px;
    }
}
@media (min-width:1025px) {
    .c-floorSpot {
        width: 420px;
        height: 280px;
    }
}

/* マップ画像 */
.c-floorMap {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
}
@media (min-width:768px) {
    .c-floorMap {
        width: 120px;
        height: 120px;
    }
}

/* ご案内タイトル */
.c-guideTitle {
    margin: 0 auto;
    padding: 10px 0;
    font-size: 14px;
    color: #2d294f;
}
@media (min-width:768px) {
    .c-guideTitle {
        padding: 15px 0;
        font-size: 26px;
    }
}
@media (min-width:1025px) {
    .c-guideTitle {
        padding: 20px 0;
        font-size: 30px;
    }
}

/* 徳島についてなどのリンク */
.c-tokushimaLink {
    position: relative;
    padding: 10px;
}

a.c-tokushimaLink {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1.6rem;
}
@media (min-width:768px) {
    a.c-tokushimaLink {
        padding: 15px 0;
        font-size: 2.2rem;
    }
}
@media (min-width:1025px) {
    a.c-tokushimaLink {
        padding: 20px 0;
        font-size: 2.8rem;
    }
}

.fa-caret-right {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 1.4rem;
}

/* 上へどうぞ */
.c-topIcon {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #2d294f;
    background: #e2e0ef;
}
.c-topIcon i {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    color: #2d294f;
}
@media (min-width:768px) {
    .c-topIcon {
        width: 60px;
        height: 60px;
}
    .c-topIcon i {
        font-size: 58px;
}
}

/* 都市伝説のバナー */
a.c-horrorLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #ff0000;
}
@media (min-width:768px) {
    a.c-horrorLink {
        font-size: 22px;
    }
}
@media (min-width:768px) {
    a.c-horrorLink {
        font-size: 28px;
    }
}

/* エレベーター
----------------------------------- */

.p-main__liftGroup__parts{
    position: fixed;
    height: 100vh;
    top: 70px;
    right: 0px;
    width: 80px;
    background-image: url(../images/img_front_liftLine03.png);
    z-index: 1;
}
.c-main__liftBodyImg{
    position: absolute;
    top: 25px;
}
.lift6{
    top: 25px;
}
.lift6::before{
    content: '6階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift5{
    top: 15vh;
}
.lift5::before{
    content: '5階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift4{
    top: 27vh;
}
.lift4::before{
    content: '4階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift3{
    top: 39vh;
}
.lift3::before{
    content: '3階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift2{
    top: 51vh;
}
.lift2::before{
    content: '2階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift1{
    top: 63vh;
}
.lift1::before{
    content: '1階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.liftbasement{
    top: 72vh;
}
.liftbasement::before{
    content: '地下';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.c-main__liftTopImg{
    position: absolute;
}
@media screen and (min-width: 768px){
    .p-main__liftGroup__parts{
        position: fixed;
        width: 100px;
}
.c-main__liftBodyImg{
    position: absolute;
    top: 33px;
}
.lift6{
    top: 30px;
}
.lift6::before{
    content: '6階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift5{
    top: 15vh;
}
.lift5::before{
    content: '5階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift4{
    top: 27vh;
}
.lift4::before{
    content: '4階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift3{
    top: 39vh;
}
.lift3::before{
    content: '3階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift2{
    top: 49vh;
}
.lift2::before{
    content: '2階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift1{
    top: 58vh;
}
.lift1::before{
    content: '1階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.liftbasement{
    top: 68vh;
}
.liftbasement::before{
    content: '地下';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
}
@media screen and (min-width: 1025px){
    .p-main__liftGroup__parts{
    position: fixed;
    top: 100px;
}
}
/* -------------------------------- */

/* 雲のアニメーション */
#js_6f{
    background-image: url(../images/img_front_cloud.png);
    background-repeat: no-repeat;
    background-size: 400px;
    animation: cloudMove 50s linear infinite ;
    background-position: 150% 5%;
}
@keyframes cloudMove{
    0%{
        background-position: 150% 5%;
    }
    100%{
        background-position: -45% 5%;
    }
}



/* =============
    Utility
================ */

/* margin */
.u-mb10 {
    margin-bottom: 10px;
}

.u-ml30 {
    margin-left: 30px;
}

/* height */
.u-hS {
    height: 220px;
}
@media (min-width:768px) {
    .u-hS {
        height: 430px;
    }
}
.u-hL {
    height: 550px;
}
@media (min-width:768px) {
    .u-hL {
        height: 1100px;
    }
}

/* スポット画像2枚目 */
.u-floorSpot--2nd {
    display: none;
}
@media (min-width:768px) {
    .u-floorSpot--2nd {
        display: block;
        position: absolute;
        width: 240px;
        height: 160px;
        right: 100px;
        bottom: 0;
    }
}
@media (min-width:1025px) {
    .u-floorSpot--2nd {
        width: 270px;
        height: 180px;
    }
}


/* 6F */
.u-6f {
    padding-top: 200px;
    height: 620px;
}
@media (min-width:768px) {
    .u-6f {
        padding-top: 100px;
        height: 1000px;
    }
}


/* 6Fのh3 */
.u-specialName {
    width: 120px;
    padding: 6px;
    background: #2d294f;
    border: 1px solid #2d294f;
    color: #f8efef;
    font-size: 1.2rem;
}
@media (min-width:768px) {
    .u-specialName {
        width: 220px;
        font-size: 2.4rem;
    }
}


/* 5F */
.u-5f {
    padding-top: 25px;
}
@media (min-width:768px) {
    .u-5f {
        padding-top: 35px;
    }
}

/* B1 */
.u-b1 {
    height: 200px;
    padding: 15px 0;
    background: #000000;
    background-image: url(../images/bg_front_horror.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: left top;
}

.u-b1 h2 {
    padding: 15px 0;
    width: 100%;
    color: #ffffff;
}

.u-bgIndigo {
    background-color: #2d294f;
}
.u-lightPurple{
    color: #e2e0ef;
}
