@charset "utf-8";

.c-main__liftLineImg {
  height: 100vh;
}

/* ロープウェイ */
/* 切り替え */
.p-main__liftGroup__parts {
  display: none;
}

@media (min-width: 1025px) {
  .p-main__liftGroup__parts {
    display: block;
  }

  .c-ropeway {
    width: 70%;
  }
}

/* キャッチコピー */
.c-catchCopy {
  width: 15vw;
  position: absolute;
  left: 5%;
  /* top: 5%; */
  top: 10%;
  z-index: 2;
}

/* ヘッダー分の高さ確保 */
.l-main {
  padding-top: 70px;
}

@media (min-width: 1025px) {
  .l-main {
    padding-top: 100px;
  }
}

/* 新着情報ここから*/

.p-newsArea {
  position: relative;
  z-index: 2;
  display: table;
  width: 70%;
  /* 変更 */
  margin: 20px 15% 40px 15%;
}
.c-newsArea {
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(0, 0, 0);
  border: 8px solid;
  border-color: rgb(145, 145, 145);
  padding: 2% 0;
  border-radius: 5px;
}
/* 変更ここから */
.mtphr-dnt-wrapper {
  height: 40px;
  text-align: center;
  display: inline-block;
}
.mtphr-dnt-tick {
  display: inline-block;
}
/* 文字変更 */
.mtphr-dnt-tick-contents {
  font-size: 1.4rem;
  font-weight: bold;
  color: chartreuse;
  text-align: center;
  /* 高さ変える */
  line-height: 40px;
}
.mtphr-dnt-default-tick a {
  color: #ffffff;
}

@media (min-width: 768px) {
  .mtphr-dnt-tick-contents {
    font-size: 1.8rem;
  }
}
/* 新着情報ここまで*/

.p-floorBlock1 {
  width: 80%;
  margin: 0 auto;
}

/* トップ各階リンク */
.p-floorLink a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* １階ご案内のリンク */
.p-tokushimaLink {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

/* 『このサイトの使い方』 */
.p-floorBlock_info {
  padding: 2% 15%;
  /* padding: 0 15%; */
  position: relative;
}

.c-guideTitle {
  font-size: 1.8rem;
  padding-bottom: 10px;
}

.c-tokushimaLink {
  margin-bottom: 5px;
  width: 30%;
  /* 仮 */
  border: #2d294f solid 3px;
}

.c-floor__text {
  margin: 0 auto;
  /* margin-bottom: 20px; */
}

@media (max-width: 768px) {
  .c-floor__text {
    max-width: 250px;
    margin: 0 auto;
  }
}

.c-floor__text > li {
  display: inline-block;
  line-height: 1.8;
  font-size: 1.2rem;
}

@media (min-width: 910px) {
  .c-floor__text > li {
    display: inline-block;
    line-height: 1.8;
    font-size: 1.4rem;
  }
}

.c-floor__text > li::after {
  content: "";
  display: inline-block;
  padding-right: 10px;
}

.l-department {
  /* position: relative; */
  background-image: url(../images/mv_front_web.png);
  background-size: cover;
  background-position: center center;
  padding: 40px;
}

/* 各階のイラストたち */

.p-floorImg > img + img {
  padding-left: 2%;
}

/* 各階のイラストの大きさ */
.c-satomusume,
.c-beer,
.c-soba,
.c-tutuji,
.c-yakimoti,
.c-sirasagi,
.c-turtle,
.c-surfing {
  width: 23%;
  /* width: 20%; */
}

/* 各階のマップの大きさ */
.c-floorMapHigasi,
.c-floorMapNisi,
.c-floorMapTokusimacity,
.c-floorMapMinami {
  width: 15%;
}

/* 特設会場のイラスト二つ */
.c-specialEvent {
  width: 20vw;
}

@media (min-width: 768px) {
  .c-specialEvent {
    width: 13vw;
  }
}

.p-floorBlock6 {
  width: 60vw;
  margin: 0 auto;
}

/* .u-specialName {
    font-size: 12px;
} */
.u-specialName {
  font-size: 12px;
  text-shadow: 2px 2px 1px #ffffff, -2px 2px 1px #ffffff, 2px -2px 1px #ffffff,
    -2px -2px 1px #ffffff, 2px 0px 1px #ffffff, 0px 2px 1px #ffffff,
    -2px 0px 1px #ffffff, 0px -2px 1px #ffffff;
  /* 文字の影 */
}

@media (min-width: 768px) {
  .u-specialName {
    font-size: 16px;
  }
}

/* 特設会場のイラストのリンク */
.c-specialLink {
  display: inline-block;
  height: 80%;
}

.c-specialLink:hover {
  transform: scale(1.1);
  /* transform: scale(1.3); */
}

/* 都市伝説の階のリンク */
.c-horrorLink {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* 6階部分 */
#js_6f {
  display: flex;
  /* padding: 0 20%;
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0; */
  text-align: center;
}

/* 5階部分 */
#js_5f {
  /* position: absolute;
    top: 17%;
    left: 0;
    right: 0; */
  text-align: center;
  /* padding: 2% 0%; */
}

/* #js_5f:hover {
    background-color: #539199;
    transform: scale(1.3);
} */

/* 4階部分 */
#js_4f {
  /* position: absolute;
    top: 28%;
    left: 0;
    right: 0; */
  text-align: center;
  /* padding: 2% 0%; */
}

/* #js_4f:hover {
    background-color: #004e3f;
    transform: scale(1.3);
} */

/* 3階部分 */
#js_3f {
  /* position: absolute;
    top: 38%;
    left: 0;
    right: 0; */
  text-align: center;
  /* padding: 2% 0%; */
}

/* #js_3f:hover {
    background-color: #d1a429;
    transform: scale(1.3);
} */

/* 2階部分 */
#js_2f {
  /* position: absolute;
    top: 48%;
    left: 0;
    right: 0; */
  text-align: center;
  margin: 0 auto 60px auto;
  /* padding: 2% 0%; */
}

/* #js_2f:hover {
    background-color: #991f26;
    transform: scale(1.3);
} */

/* 1階部分 */

#js_1f {
  /* position: absolute; */
  width: 80%;
  max-width: 600px;
  /* top: 64%;
  left: 0;
  right: 0; */
  text-align: center;
  background-color: #eae4ad;
  font-size: 1.6rem;
  /* padding: 1% 0%; */
  box-shadow: 0 0 5px 5px #eae4ad;
  border-radius: 15px;
  position: relative;
}

/* 都市伝説の階 */
#page-link {
  padding: 20px;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  #js_6f {
    display: flex;
    /* padding: 0 20%;
        position: absolute;
        top: 5vh;
        left: 0;
        right: 0; */
    text-align: center;
  }

  #js_5f {
    /* position: absolute;
        top: 17%;
        left: 0;
        right: 0; */
    text-align: center;
    /* padding: 1% 0%; */
  }

  #js_4f {
    /* position: absolute;
        top: 30%;
        left: 0;
        right: 0; */
    text-align: center;
    /* padding: 1% 0%; */
  }

  #js_3f {
    /* position: absolute;
        top: 43%;
        left: 0;
        right: 0; */
    text-align: center;
    /* padding: 1% 0%; */
  }

  #js_2f {
    /* position: absolute;
        top: 56%;
        left: 0;
        right: 0; */
    text-align: center;
    /* padding: 1% 0%; */
  }

  #js_1f {
    /* position: absolute; */
    width: 60%;
    max-width: 600px;
    /* top: 70%;
    left: 0;
    right: 0; */
    text-align: center;
    background-color: #eae4ad;
    font-size: 1.6rem;
    /* padding: 1% 0%; */
    box-shadow: 0 0 5px 5px #eae4ad;
    border-radius: 15px;
  }

  @media (min-width: 1025px) {
    #js_1f {
      width: 60%;
      max-width: 600px;
    }
  }

  .c-satomusume,
  .c-beer,
  .c-soba,
  .c-tutuji,
  .c-yakimoti,
  .c-sirasagi,
  .c-turtle,
  .c-surfing {
    width: 15%;
  }

  .c-floorMapHigasi,
  .c-floorMapNisi,
  .c-floorMapTokusimacity,
  .c-floorMapMinami {
    width: 10%;
  }
}

/* 2～5階のホバーで背景色がつく */
.p-departmentFloor:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.3);
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.6);
}

/* ご案内の阿波踊りアニメ */
.c-awaodori,
.c-fukidashi {
  display: none;
}

@media (min-width: 768px) {
  .c-awaodori {
    height: 60%;
    width: auto;
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
    left: 0;
    display: block;
  }

  .c-fukidashi {
    height: 60%;
    width: auto;
    position: absolute;
    top: -15%;
    transform: translate(0, 0);
    left: -50px;
    display: block;
    /* left: -15%;
        display: block; */
  }
}

.p-floorBlock {
  text-align: center;
}

.p-floorHorror {
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  background-image: url(../images/img_front_horrorBn.png);
  background-size: cover;
}

/* インスタ一式ここから */

.p-insta {
  position: relative;
  z-index: 2;
  padding: 0 15% 20px 15%;
  text-align: center;
}

.p-insta h2 {
  margin-bottom: 0;
  width: 200px;
}

.p-instaPhotos {
  display: flex;
  flex-wrap: wrap;
}

.p-instaPhotos li {
  position: relative;
  width: calc(100% / 3);
}

.p-instaPhotos li::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.c-instaPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .p-instaPhotos li {
    width: calc(100% / 6);
  }
}

/* インスタ一式ここまで */

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb20 {
  margin: 0 auto 20px auto;
}

.u-mb40 {
  margin: 0 auto 40px auto;
}

.u-flex {
  display: flex;
}

.u-m0A {
  margin: 0 auto;
}

.u-white {
  color: #fff;
}

.u-bgEAE4AD {
  background-color: #eae4ad;
}

.p-special {
  justify-content: space-around;
  padding: 2% 10% 0 10%;
  font-size: 1.4rem;
}

.p-specialLink {
  width: 40%;
}

.p-guideArea {
  font-size: 1.4rem;
  line-height: 1.2;
}

.u-bg2d294f {
  background-color: #2d294f;
}

/* フロア見出し */
.c-floorName {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  /* width: 100px; */
  width: 150px;
  padding: 5px 0px;
  border-radius: 25px;
  opacity: 1;
  background-color: #2d294f;
  margin-bottom: 20px;
  color: white;
}

.c-floorNameBasement {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 5px 0px;
  border-radius: 25px;
}

.c-floorNameBasementP {
  font-size: 1.4rem;
  color: white;
}

@media (min-width: 768px) {
  .c-floorName {
    /* width: 140px; */
    font-size: 2.4rem;
  }

  .c-floorNameBasement {
    font-size: 2.4rem;
    display: inline-block;
    text-align: center;
    width: 200px;
    padding: 5px 0px;
    border-radius: 25px;
  }

  .c-floorNameBasementP {
    font-size: 1.6rem;
  }
}

/* フロア見出し */

/* ご案内見出しの隠し領域 */

span[id="front_info"] {
  display: block;
  content: "";
}
