@charset "UTF-8";

html{
font-size: 62.5%;
/* 16pxの62.5%=10px; */
}
body{
    font-size:2rem;
}

h3{
    margin-left:2rem;
}
.spot{
margin-left:4rem;
}
#delete_cookie{
    background-color:blue;
color:white;
font-size:3rem;
width:20vw;
height:10vh;
padding:3vh 1vw 0 1vw;
margin:0 0 0 20rem;
}

#create{
background-color:red;
color:white;
font-size:4rem;
width:20vw;
height:10vh;
padding:3vh 1vw 0 1vw;
margin:0 0 0 20rem;
}

.button_on{
    background-color:red;
    border:2px solid gray;
    border-radius:1em;
    color:white;
    font-size:2.5rem;
    width:10vw;
    height:5vh;
    padding:3vh 1vw 0 1vw;
    text-align:center;
}

.button_off{
    border:2px solid gray;
    border-radius:1em;
    color:black;
    font-size:2.5rem;
    width:10vw;
    height:5vh;
    padding:3vh 1vw 0 1vw;
    text-align:center;
}
a{
    font-size:4rem;
}
