@charset "utf-8";

/* =============
    Layout
================ */

/* 共通 */
.l-page {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

/* このサイトについて */
.l-reference {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

/* テーブル */
.l-pageTable {
  width: 90%;
  margin: 0 auto;
  padding: 30px 15px;
}

/* map */
.l-myMap {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0 50px;
}

@media (min-width: 1025px) {
  .l-myMap {
    width: 70%;
  }
}

/* =============
    Project
================ */

/* 説明 */
.p-description {
  margin: 0 auto;
  padding: 0 0 40px;
}

/* 画像 */
.p-img {
  width: 50%;
  padding: 30px 0 0;
  margin: 10px auto;
  flex-direction: column;
}

@media (min-width: 768px) {
  .p-img {
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
  }
}

/* table */
.p-pageTable {
  width: 100%;
  border-collapse: collapse;
  color: #333333;
}

@media (min-width: 768px) {
  .p-pageTable {
    border: 2px solid #707070;
    border-collapse: collapse;
  }
}

/* map */
.p-myMap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

/* iframe */
.p-myMap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100%;
}

.p-contactBtns {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* =============
    Compornent
================ */

/* h2 */
/* 記事タイトル */
.c-heading {
  height: 70px;
  padding: 0;
  font-size: 2.2rem;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1025px) {
  .c-heading {
    font-size: 2.4rem;
  }
}

.c-heading::before,
.c-heading::after {
  content: "";
  width: 10%;
  height: 4px;
  border-radius: 2px;
  background: #cf7e7c;
}

.c-heading::before {
  margin-right: 20px;
}

.c-heading::after {
  margin-left: 20px;
}

/* h3見出し */
.c-subHeading {
  width: 90%;
  display: inline-block;
  font-size: 2.4rem;
  border: dashed 3px #cf7e7c;
  padding: 1.3rem 1.5rem;
}

/* 説明 */
.c-description__text {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0 0;
  font-size: 1.8rem;
  line-height: 1.5;
}

@media (min-width: 400px) {
  .c-description__text {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .c-description__text {
    width: 70%;
  }
}

/* 画像 */
.c-img {
  width: 100%;
  padding: 10px;
}
@media (min-width: 768px) {
  .c-img {
    width: auto;
    height: 150px;
    padding: 0 10px;
  }
}

/* table */
.c-pageTable__th,
.c-pageTable__td {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .c-pageTable__th,
  .c-pageTable__td {
    display: table-cell;
  }
}

.c-pageTable__th {
  background: #f6f4ec;
}

@media (min-width: 768px) {
  .c-pageTable__th {
    width: 35%;
    border: 1px solid #707070;
  }
}

.c-pageTable__td {
  background: #ffffff;
  border: 2px solid #707070;
}

@media (min-width: 768px) {
  .c-pageTable__td {
    width: 65%;
    border: 1px solid #707070;
  }
}

/* お問い合わせフォーム */
/* paddingを0に */
.c-pageTable__td.u-contact {
  padding: 5px;
}

/* 入力エリア */
.c-pageTable__td.u-contact input,
.c-pageTable__td.u-contact select,
.c-pageTable__td.u-contact textarea {
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  vertical-align: middle;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #707070;
  background: #ffffff;
  font-size: 140%;
}

.c-pageTable__td.u-contact textarea {
  font-size: 140%;
}

/* フォーカス時 */
.c-pageTable__td.u-contact input:focus,
.c-pageTable__td.u-contact select:focus,
.c-pageTable__td.u-contact textarea:focus {
  border: 1px solid #cf7e7c;
  background: rgba(226, 224, 239, 0.3);
}

/* select */
.c-select {
  overflow: hidden;
  width: 100%;
}

/* リセット・送信ボタン */
.c-btn {
  appearance: none;
  outline: none;
  -webkit-appearance: none;
  display: inline-block;
  width: 100px;
  margin: 30px 0;
  padding: 7px;
  border-radius: 30px;
  font-family: "mamelon5";
  font-size: 2.6rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.c-contactBtn {
  background: #ffffff;
  border: 1px solid #cf7e7c;
}
@media (min-width: 400px) {
  .c-contactBtn {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .c-contactBtn {
    width: 200px;
  }
}

.c-contactBtn input[type="submit"] {
  background: #cf7e7c;
  color: #ffffff;
}

/* お問い合わせフォーム */

/* =============
    Utility
================ */

/* color */
.u-white {
  color: #ffffff;
}

.u-indigo {
  color: #2d294f;
}

/* bgcolor */
.u-bgWhite {
  background: #ffffff;
}

.u-bgIndigo {
  background: #2d294f;
}

.u-bgPink {
  background: #cf7e7c;
}

/* margin */
.u-mr30 {
  margin-right: 30px;
}

/* 必須 */
.u-must {
  display: inline-block;
  padding: 2px 5px;
  font-size: 1.2rem;
  color: #cf7e7c;
}
