*{
    margin:0;
    padding:0;
}

#canvas{
background-color:black;
width:100%;
position:absolute;
}

#startButton{
    position:relative;
    width:100vw;
    height:100vh;
    margin:0;
    opacity:0.5;
    z-index:20;
}
