.searchandfilter {
  text-align: center;
}
.searchandfilter li {
  list-style: none;
  display: block;
  margin-bottom: 1em;
}
.searchandfilter h4 {
  font-size: 18px;
}
.cat-item {
  font-size: 14px;
}
.searchfilter > form > div > ul {
  width: 70%;
}
.c-button__searchForm__close {
  background-color: transparent;
  border: none;
  display: none;
}
/* エリア検索 一覧 */
form > div > ul > li:nth-of-type(1) > ul > li:nth-of-type(1) {
  font-size: 13px;
  margin-bottom: 12px;
}
/* コンテンツ一覧を隠す */
form > div > ul > li:nth-of-type(2) > ul > li:nth-of-type(1) {
  display: none;
}
/* 検索ボタン */
form > div > ul > li:nth-of-type(3) > input:nth-of-type(2) {
  padding: 5px 20px;
  color: white;
  background-color: #252f4d;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}
