@charset "utf-8";

/* =============
    Layout
================ */

.l-singleArticle {
    width: 100%;
    margin: 0 auto;
    background: #fdfdfd;
}

.l-singleHeader {
    width: 90%;
    margin: 0 auto;
}

.l-singleBody {
    width: 90%;
    margin: 0 auto;
    padding: 0;

}

/* slider */
.l-slickSlider {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

@media (min-width:1025px) {
    .l-slickSlider {
        width: 50%;
        margin: 0;
        padding: 0;
    }
}

/* テーブル */
.l-singleTable {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 50px;
}

@media (min-width:768px) {
    .l-singleTable {
        width: 90%;
    }
}


/* =============
    Project
================ */

/* slider～タグ */
.p-singleArticle__item {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    border-radius: 13px;
    border: 1px solid #707070;
}

@media (min-width:768px) {
    .p-singleArticle__item {
        padding: 50px;
    }
}

/* flexレイアウト用 */
@media (min-width:1025px) {
    .p-singleArticle__item {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* 本文～タグ */
.p-singleArticle__description {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:1025px) {
    .p-singleArticle__description {
        width: 45%;
        margin: 0;
    }
}

/* 記事タグ */
.p-singleTag {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 20px 0 30px;
    flex-direction: column;
}

@media (min-width:400px) {
    .p-singleTag {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width:1140px) {
    .p-singleTag {
        padding: 10px 0;
    }
}

/* 記事タグリスト */
.p-singleTagList__ul {
    margin: 0 auto;
    padding: 5px 0;
}

@media (min-width:400px) {
    .p-singleTagList__ul {
        margin: 0;
        padding: 0;
    }
}

/* タグ名 */
.p-singleTagList__ul li {
    position: relative;
    padding: 5px 10px 5px 18px;
    letter-spacing: 1px;
    font-size: 1.8rem;
    text-align: center;
}

.p-singleTagList__ul li::before {
    content: "\f292";
    position: absolute;
    left: 2px;
    top: 45%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    color: #cf7e7c;
    font-size: 1.4rem;
    font-weight: 900;
}



/* テーブル */
.p-singleTable {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width:768px) {
    .p-singleTable {
        border: 2px solid #707070;
        border-collapse: collapse;
        border-spacing: 0;
    }
}


/* =============
    Compornent
================ */

/* 記事タイトル */
.c-heading {
    height: 70px;
    padding: 20px 0;
    font-size: 2.2rem;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
}

@media (min-width:1025px) {
    .c-heading {
        padding: 25px 0;
        font-size: 2.4rem;
    }
}

.c-heading::before,
.c-heading::after {
    content: '';
    width: 10%;
    height: 4px;
    border-radius: 2px;
    background: #cf7e7c;
}

.c-heading::before {
    margin-right: 20px;
}

.c-heading::after {
    margin-left: 20px;
}



/* 記事テキスト */
.c-singleArticle__text {
    margin: 0 auto;
    padding: 20px 0;
}

@media (min-width:1140px) {
    .c-singleArticle__text {
        padding: 30px 0 10px;
    }
}

.c-singleArticle__text p {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 1.4rem;
    text-align: left;
}

@media (min-width:768px) {
    .c-singleArticle__text p {
        font-size: 1.8rem
    }
}

/* 記事タグ */
/* 登録タグ */
.c-singleTag__text {
    margin: 0 auto;
    padding: 8px 12px;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

@media (min-width:400px) {
    .c-singleTag__text {
        margin: 0;
    }
}


/* いいねボタン */
.wp1_like_like,
a.wp1_like_like {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 0 10px;
    padding: 5px 12px;
    -webkit-transition: all 0.3s;
    font-size: 1.8rem;
    transition: all 0.3s;
    letter-spacing: 1px;
    border-radius: 13px;
    text-align: center;
    cursor: pointer;
}


/* いいねボタンのアイコンを表示するところ */
a.wp1_like_like::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    content: "";
    border-radius: 13px 0 0 13px;
    background: #cccccc;
    opacity: 0.5;
}

/* いいねボタンのアイコン */
a.wp1_like_like i::before {
    position: absolute;
    top: 11px;
    left: 10px;
    padding: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #d37b6a;
    font-size: 2.9rem;
}

/* ボタンのspan */
a.wp1_like_like span {
    position: absolute;
    display: inline-block;
    top: 14px;
    left: 62px;
    padding: 5px 0;
    font-family: "mamelon3.5";
    font-size: 1.4rem;
    vertical-align: bottom;
    color: #333333;
}

/* tableここから */
.c-singleTable__th,
.c-singleTable__td {
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 10px;
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    vertical-align: middle;
}



.c-singleTable__th {
    background: #f6f4ec;
    vertical-align: bottom;
}

.c-singleTable__td {
    background: #ffffff;
    border: 2px solid #707070;
}

@media (min-width:768px) {

    .c-singleTable__th,
    .c-singleTable__td {
        border: 1px solid #707070;
    }

    .c-singleTable__th {
        width: 20%;
    }

    .c-singleTable__td {
        width: 80%;
    }
}


.c-singleTable__td a {
    color: #cf7e7c;
}

.c-singleTable__td a i {
    color: #cf7e7c;
}

/* tableここまで */
